<a href="https://colab.research.google.com/github/HG1210/Learn_py/blob/main/Fundamental_of_Python_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

27/05/2025


1.   Tuple
2.   Sets
3.   Dictionary

In [ ]:
#Create a tuple with single item. -> Imp
tup1 = () #Empty Tuple
print(tup1)
#Here Come the single item tuple
tup = (41,)
print(tup)
print(type(tup))

#Homo
t2 = (1,2,36)
print(t2)

#Hetro
t3= (1,2,True,[1,2])
print(t3)

#Tuple Function
print(tuple('Harsh'))

()
(41,)
<class 'tuple'>
(1, 2, 36)
(1, 2, True, [1, 2])
('H', 'a', 'r', 's', 'h')

In [ ]:
#Accessing Item in a list
#Indexing
t3 = (41,59,5,6)
print(t3[2])

5

In [ ]:
#Slicing
t4 = (1,5,6,['HG'])
print(t4[2:4])
print(t4[::-1]) #Reverse the string

(6, ['HG'])
(['HG'], 6, 5, 1)

Operation on Tuple

In [ ]:
#Adding or multiplicaton
t6 = (1,58,45,5,45)
t7 = (5,45,88,4,1)
print(t6 + t7)

#Multiplication
print(t7*2)

#Membership
print(88 in t7)

#iterable
for i in t6:
  print(i,end=" ")

(1, 58, 45, 5, 45, 5, 45, 88, 4, 1)
(5, 45, 88, 4, 1, 5, 45, 88, 4, 1)
True
1 58 45 5 45

Tuple Function

In [ ]:
#len/min/max/sorted/sum
t8 = (4,5,9,1,9,561)
print(len(t8))
print(max(t8))
print(min(t8))
print(sorted(t8,reverse=True))
print(sum(t8))

6
561
1
[561, 9, 9, 5, 4, 1]
589

In [ ]:
#Count -> For Tuple
print(t8)
print(t8.count(9))

(4, 5, 9, 1, 9, 561)
2

In [ ]:
#index
print(t8)
print(t8.index(9))

(4, 5, 9, 1, 9, 561)
2

In [ ]:
#Tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)
print(b)

1 2 3
2

In [ ]:
#Use tuple unpacking concept - swap number
a = 1
b = 2
a,b = b,a
print(a,b)

2 1

In [ ]:
#*others
a,b,c,*others = (1,2,9,6,5,6)
print(a,b,c)
print(*others)

1 2 9
6 5 6

In [ ]:
t1 = (1,5,9,6)
t2 = (25,98,9,5)

tuple(zip(t1,t2))

((1, 25), (5, 98), (9, 9), (6, 5))

Sets
unordered collection of items
mutable
cannot contain mutable datatypes.
elemets must be unique

In [ ]:
#Empty sets
s = set()
print(s)
#We can't create 2d sets
s1 = {2,5,3}
print(s1)
#Homo - same datatype
s2 = {45,'HG',456}
print(s2)
#We cant use list because it's mutable
s3 = {1,5,(5,6)}
print(s3)
#duplicate not allowed
s4 = 1,1,2,5,2,56
print(s4)
#type conversion
sd = set([1,5,5])
print(sd)

set()
{2, 3, 5}
{456, 'HG', 45}
{1, 5, (5, 6)}
(1, 1, 2, 5, 2, 56)
{1, 5}

In [ ]:
#Unordered collection of item
s1 = {1,2,3}
s2 ={3,2,1}
s1 == s2

True

In [ ]:
#Accessing item is not possible using indexing and slicing
#Editing item
#Single Element Insertion
s1 = {1,2,3}
s1.add(4)
print(s1)

#Multiple Element Insertion
s2 = {1,2,3}
s2.update([9,8,6])
print(s2)

{1, 2, 3, 4}
{1, 2, 3, 6, 8, 9}

In [ ]:
#Deletion
s8 = {1,2,6,9,8}

#pop - randomly will delete any elements
s8.pop()
print(s8)

#discard
s8.discard(6)
print(s8)

#Remove
s8.remove(2)
print(s8)

#clear
s8.clear()
print(s8)

{2, 6, 8, 9}
{2, 8, 9}
{8, 9}
set()

In [ ]:
#Set operation
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

#Union(|) - All the item in both will be printed exactly once
print(s1 | s2)

#Intersection(&) - Only common item will be shown
print(s1 & s2)

#Difference(-) - All the item of s1 that are not present in s2
print(s1-s2)

#Symmetric Difference(^) - The common once will not be shown
print(s1^s2)

#Membership - not in and in
print(4 in s2)

#Iterable
for i in s1:
  print(i,end=" ")

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
True
1 2 3 4 5

In [ ]:
# Sets Function
#len/sum/clear/min/max/sorted
s1 = {1,2,6,9}
print(len(s1))
print(min(s1))
print(max(s1))
print(sum(s1))
print(sorted(s1,reverse=True)) #Sorted Result will be in a list

4
1
9
18
[9, 6, 2, 1]

In [ ]:
#union/union_update
s1 = {1,2,3,4}
s2 = {3,4,5,6}

print(s1.union(s2))
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [ ]:
#Intersection/intersection_update
#union/union_update
s1 = {1,2,3,4}
s2 = {3,4,5,6}

print(s1.intersection(s2))
s1.intersection_update(s2)
print(s1)
print(s2)

{3, 4}
{3, 4}
{3, 4, 5, 6}

In [ ]:
#Difference/Difference_update
s1 = {1,2,3,4}
s2 = {3,4,5,6}

print(s1.difference(s2))
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2}
{1, 2}
{3, 4, 5, 6}

In [ ]:
#Symmetric Difference
s1 = {1,2,3,4}
s2 = {3,4,5,6}

print(s1.symmetric_difference(s2))
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 5, 6}
{1, 2, 5, 6}
{3, 4, 5, 6}

In [ ]:
#isdisjoint - both the element should be totally different. No matching element should be present
s1 = {1,2,3,4}
s2 = {5,6,7,8}
print(s1.isdisjoint(s2))

True

In [ ]:
#issubset
s1 = {1,2,3,4,5}
s2 ={3,4,5}

print(s2.issubset(s1))
print(s1.issuperset(s2))

True
True

Frozenset - immutable sets of python

In [ ]:
#All read function will work
s1 = frozenset([1,2,3])
print(s1)

frozenset({1, 2, 3})

In [ ]:
#2d Frozenset
fs1 = frozenset([1,2,frozenset([1,2])])
print(fs1)

frozenset({1, 2, frozenset({1, 2})})

03/05/2025
Dictionary - Set of key value pair

*   Mutable
*   Used to store value like map
*   Indexing has no meaning
*   key can't be mutable and can't be duplicated000

In [ ]:
#Empty Dict
dict1 = {}
print(dict1)
#1D Dict
dict1={'name':'Harsh','Interest':'Python'}
print(dict1)
#with Mixed keys
dict1 = {(11,2,3):1,'name':'gandhi'}
print(dict1)

#2D Dict
dict1 = {'name':'harsh','Subjects':{
    'Physics':90,
    'Math':85
}}
print(dict1)

#Using sequence and dict function
dict1 = dict([('name','harsh'),('age','10')])
print(dict1)

{}
{'name': 'Harsh', 'Interest': 'Python'}
{(11, 2, 3): 1, 'name': 'gandhi'}
{'name': 'harsh', 'Subjects': {'Physics': 90, 'Math': 85}}
{'name': 'harsh', 'age': '10'}

In [ ]:
#Accessing Item
dict1 = {'name':'Python','Master':'CampusX'}
print(dict1['name'])
#Make use of get as well
print(dict1.get('Master'))

Python
CampusX

In [ ]:
#Add Item
dict2 = {'age':'10', 'supports':'Family'}
print(dict2)
dict2['name'] = 'Home'
print(dict2)

{'age': '10', 'supports': 'Family'}
{'age': '10', 'supports': 'Family', 'name': 'Home'}

In [ ]:
#Removing key-value pairs
dict2 = {'age':'10', 'supports':'Family','name':'ghar'}
dict2.pop('age')
print(dict2.popitem()) #Delete the last item.
print(dict2)
print(dict2.clear())

('name', 'ghar')
{'supports': 'Family'}
None

In [ ]:
#Dictionary operation
s = {'name':'hg','age':'12','sub':
 {'math':10,'phy':15}
}
print(s)
#Membership -> In dictionary it will always check the key and not the value
print('name' in s)
print('hg' in s)

#Iteration
for i in s:
  print(s[i],end = " ")

{'name': 'hg', 'age': '12', 'sub': {'math': 10, 'phy': 15}}
True
False
hg 12 {'math': 10, 'phy': 15}

In [ ]:
#Dict Operation
print(s)
print(len(s))
print(min(s))
print(max(s))
print(sorted(s))

{'name': 'hg', 'age': '12', 'sub': {'math': 10, 'phy': 15}}
3
age
sub
['age', 'name', 'sub']

In [ ]:
#keys/value/items
print(s.items())
print(s.keys())
print(s.values())

dict_items([('name', 'hg'), ('age', '12'), ('sub', {'math': 10, 'phy': 15})])
dict_keys(['name', 'age', 'sub'])
dict_values(['hg', '12', {'math': 10, 'phy': 15}])

In [ ]:
#Update
s2 = {'operation':'dictionary'}
s.update(s2)
print(s)

{'name': 'hg', 'age': '12', 'sub': {'math': 10, 'phy': 15}, 'operation': 'dictionary'}

In [ ]:
#Dict Comprehension
#numbers 1 to 10
{i:i*2 for i in range(1,11)}

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [ ]:
#Use Existing Dic
s = {'name':'hg','age':'12','sub':
    {'math':10,'phy':15}}
print({i:j for (i,j) in s.items()})
print({i for (i) in s.keys()})

{'name': 'hg', 'age': '12', 'sub': {'math': 10, 'phy': 15}}
{'sub', 'age', 'name'}

In [ ]:
#Two Different List using Zip
s = ["Name","Age","Hours"]
t = ["Harsh","10","12"]
{i:j for (i,j) in zip(s,t)}

{'Name': 'Harsh', 'Age': '10', 'Hours': '12'}

In [ ]:
# Nesded Dict Comprehension
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}