<a href="https://colab.research.google.com/github/HG1210/Learn_py/blob/main/Fundamentals_of_Python__Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

31-3-2025

1.   Membership operator
2.   No increment and decrement (best part)

3-4-2025

1.   if-else, nested if else
2.   Modules

In [ ]:
# Membership operator in/not in
print ('H' in 'Harsh')

True

In [ ]:
#Print the sum of first 3 number
num = int(input("Enter any 3-digit number: "))
# 345 % 10  -> 5
a = num%10
# 345 // 10 -> 34
num = num // 10
b = num % 10
num = num // 10
c = num % 10
print("The sum of first 3 digit number is: ",a+b+c)

Enter any 3-digit number: 345
The sum of first 3 digit number is:  12

Modules In Python

1.   Math
2.   keyword - To get the list make use of kwlist almost 32 or 33
3.   random
4.   datetime

In [ ]:
import math as mt
a=mt.factorial(5)
b=mt.sqrt(144)
c=mt.floor(6.6)
print(a,b,c,sep='|')

120|12.0|6

In [ ]:
import random as rand
print(rand.randint(1,100))

73

In [ ]:
import datetime as dt
print (dt.datetime.now())

2025-04-03 17:32:33.825305

In [ ]:
#While Loops
nums = int(input("Enter any number: "))
i=1
while i<10:
  print(nums)
  nums+=1
  i+=1

Enter any number: 2
2
3
4
5
6
7
8
9
10

In [ ]:
# Multiplication Table
table = int(input("Enter The Multiplication Table No."))
i = 1
while (i<=10):
  print(table,"*",i,"=",table*i)
  i+=1

Enter The Multiplication Table No.2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20