<a href="https://colab.research.google.com/github/HG1210/Learn_py/blob/main/Fundamental_of_Python_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

13/04/2025


1.  List in Python - Lists means multiple item under one single name. Acts like a dynamic array.


*   Ordered matters the most
*   Changeble
*   dynamic & nested
*   duplicates values




2.

In [ ]:
#Lists
#Empty List
print([])
#1D -> Homo Lists
print([1,2,3])
#2D -> Hetro
print([1,2,[3,4]])
#3D -> Homo
print([[[1,2],[3,4],[1,5],[8,9]]])
#Hetro
print([1,True,'HG','2.56'])
#Using Type Conversion
print(list('Lists'))

[]
[1, 2, 3]
[1, 2, [3, 4]]
[[[1, 2], [3, 4], [1, 5], [8, 9]]]
[1, True, 'HG', '2.56']
['L', 'i', 's', 't', 's']

In [ ]:
#Indexing Lists
list_Test = [12,2,3]
print(list_Test[0])
print(list_Test[-1])

list_Test2 = [1,2,3,[50,25]]
print(list_Test2[3])
print(list_Test2[3][0])

list_Test2 = [[[[1,2],[3,4]],[[1,5],[8,9]]]]
print(list_Test2[0][1])
print(list_Test2[0][1][1])
print(list_Test2[0][1][1][1])

12
3
[50, 25]
50
[[1, 5], [8, 9]]
[8, 9]
9

In [ ]:
#Slicing
slice_Test = [1,2,34,5,58]
print(slice_Test[::-1])
print(slice_Test[0:3])

[58, 5, 34, 2, 1]
[1, 2, 34]

#Adding item to list

In [ ]:
#append - At the end of list, one item.
app_lists = [1,2,5,9]
app_lists.append([5,6])
app_lists.append(10)
print(app_lists)

[1, 2, 5, 9, [5, 6], 10]

In [ ]:
#Extend - At the end, multiple item
ext_lists = [1,2,5,9]
ext_lists.extend([5,6])
ext_lists.append(10)
print(ext_lists)

[1, 2, 5, 9, 5, 6, 10]

In [ ]:
#insert - At any postion of the list
ins_lists = [5,8,89,556]
ins_lists.insert(1,50)
print(ins_lists)

[5, 50, 8, 89, 556]

Editing item in lists

In [ ]:
edit_list = [1,25,8,52]
edit_list[-1] = 12
print(edit_list)

[1, 25, 8, 12]

In [ ]:
#Editing with slicing
edit_list = [1,25,8,52]
edit_list[0:3] = [12,15,20]
print(edit_list)

[12, 15, 20, 52]

Deleting item in lists

In [ ]:
#Del
del_list = [1,25,8,52]
del del_list
print(del_list)

NameError: name 'del_list' is not defined

In [ ]:
# Del through Slicing way
del_list = [1,25,8,52]
del del_list[0:2]
print(del_list)

[8, 52]

In [ ]:
#remove
del_list = [1,25,8,52]
del_list.remove(25)
print(del_list)

[1, 8, 52]

In [ ]:
#pop
# Del through Slicing way
del_list = [1,25,8,52]
del_list.pop()
#can also be written in del_list.pop(0)
print(del_list)

[1, 25, 8]

In [ ]:
#clear
del_list = [1,25,8,52]
del_list.clear()
print(del_list)

[]

Operation in list

In [ ]:
#Arthmetic (+ *)
art_list = [1,56,85]
art_list_2 = [26,45,96]
print(art_list + art_list_2)

[1, 56, 85, 26, 45, 96]

In [ ]:
#Arthmetic (+ *)
art_list = [5,8]
print(art_list * 3)

[5, 8, 5, 8, 5, 8]

In [ ]:
#Membership (in, not in)
mem_list = [1,56,85]
mem_list_2 = [26,45,96]
print(56 in mem_list)

True

In [ ]:
#loops
art_list = [1,56,85]
art_list_2 = [26,45,96]
for i in art_list:
  print(i)

1
56
85

List Function
We have some common function for all the types i.e. list string

In [ ]:
#len,min,max and sorted
common = [10,5,8,9]
print("Length of list",len(common))
print(min(common))
print(max(common))
print(sorted(common))

Length of list 4
5
10
[5, 8, 9, 10]

In [ ]:
#count
common_count = [4,8,3,4]
common_count.count(4)

2

In [ ]:
#index
common_index = [1,4,5,8]
common_index.index(5)

2

In [ ]:
#We have sort function as well. The main difference between two is that sort will directly changes the list where sorted will keep them in temporary memory location.
#sort - permanently changes the list
common_index = [1,5,6,8]
common_index.sort()
print(common_index)

[1, 5, 6, 8]

In [ ]:
#reverse - permanent change to the list
common_index = [1,5,6,8]
common_index.reverse()
print(common_index)

[8, 6, 5, 1]

In [ ]:
#copy - different memory location. if we use copy function
common_copy = [5,8,96,59]
print(id(common_copy))
copy = common_copy
print(id(copy))
print(copy)

135053003379264
135053003379264
[5, 8, 96, 59]

26/04/2025
List Comprehension - Refer Notes

In [ ]:
# Add 1 to 10 in list
L = []

for i in range(1,11): #item in Iterable
  L.append(i) #Expression

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#List Comprehension
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Square of the numbers
L = [2,3,4,5]
x = []

for i in L:
  x.append(i**2)

print(x)

[1, 4, 9, 16, 25]

In [ ]:
#List Comprehension
L = [i**2 for i in range(1,4)]
print(L)

[1, 4, 9]

In [ ]:
#Scalar Multiplication
L = [1,2,3]
s = 3
x = []

for i in L:
  x.append(i*s)

print(x)

[3, 6, 9]

In [ ]:
#List Comphrension
L = [1,2,3]
s = 3
x = [i*s for i in L]
print(x)

[3, 6, 9]

In [ ]:
#Print all number divisible by 5 in the range of 1 to 50
[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
lang = ['python','java','c', 'php']
[language for language in lang if language[0] == 'p'] # we can also make use of startswith

['python', 'php']

In [ ]:
#Cartesain product
L1 = [1,2,3]
L2 = [1,2,3]
[i*j for i in L1 for j in L2]

[1, 2, 3, 2, 4, 6, 3, 6, 9]

In [ ]:
#nested list comprehension
fruits = ['apple', 'banana', 'chickoo']
my_basket = ['apple', 'banana', 'chickoo']
[fruit for fruit in fruits if fruit in my_basket if fruit.startswith('a')]

['apple']

Two way to traverse a list


*   itemwise
*   indexwise

In [ ]:
#itemwise
L = [5,6,9,8]

for i in L:
  print(i)

5
6
9
8

In [ ]:
#indexwise
L = [5,6,9,45]

for i in range(0,len(L)):
  print(i)

0
1
2
3

In [ ]:
#zip comprehension
L1 = [21,5,6,56]
L2 = [54,6,64,51]

print(list(zip(L1,L2))) # We have made a PAIR of both list

print([i+j for i,j in zip(L1,L2)])

[(21, 54), (5, 6), (6, 64), (56, 51)]
[75, 11, 70, 107]

In [ ]:
num = 4.5
print(type(num))

<class 'float'>